$color-danger-light-1: rgb(255 236 232);
$color-danger-light-2: rgb(253 205 197);
$color-danger-light-3: rgb(251 172 163);
$color-danger-light-4: rgb(249 137 129);
$color-danger-light-5: rgb(247 101 96);
$color-danger-light-6: rgb(245 63 63);
$color-danger-light-7: rgb(203 39 45);
$color-danger-light-8: rgb(161 21 30);
$color-danger-light-9: rgb(119 8 19);
$color-danger-light-10: rgb(77 0 10);

$color-danger-dark-1: rgb(77 0 10);
$color-danger-dark-2: rgb(119 6 17);
$color-danger-dark-3: rgb(161 22 31);
$color-danger-dark-4: rgb(203 46 52);
$color-danger-dark-5: rgb(245 78 78);
$color-danger-dark-6: rgb(247 105 101);
$color-danger-dark-7: rgb(249 141 134);
$color-danger-dark-8: rgb(251 176 167);
$color-danger-dark-9: rgb(253 209 202);
$color-danger-dark-10: rgb(255 240 236);

$color-danger-primary: rgb(245 63 63);

$color-success-light-1: rgb(232 255 234);
$color-success-light-2: rgb(175 240 181);
$color-success-light-3: rgb(123 225 136);
$color-success-light-4: rgb(76 210 99);
$color-success-light-5: rgb(35 195 67);
$color-success-light-6: rgb(0 180 42);
$color-success-light-7: rgb(0 154 41);
$color-success-light-8: rgb(0 128 38);
$color-success-light-9: rgb(0 102 34);
$color-success-light-10: rgb(0 77 28);

$color-success-dark-1: rgb(0 77 28);
$color-success-dark-2: rgb(4 102 37);
$color-success-dark-3: rgb(10 128 45);
$color-success-dark-4: rgb(18 154 55);
$color-success-dark-5: rgb(29 180 64);
$color-success-dark-6: rgb(39 195 70);
$color-success-dark-7: rgb(80 210 102);
$color-success-dark-8: rgb(126 225 139);
$color-success-dark-9: rgb(178 240 183);
$color-success-dark-10: rgb(235 255 236);

$color-success-primary: rgb(0 180 42);

$color-primary-light-1: rgb(232 243 255);
$color-primary-light-2: rgb(190 218 255);
$color-primary-light-3: rgb(148 191 255);
$color-primary-light-4: rgb(106 161 255);
$color-primary-light-5: rgb(64 128 255);
$color-primary-light-6: rgb(22 93 255);
$color-primary-light-7: rgb(14 66 210);
$color-primary-light-8: rgb(7 44 166);
$color-primary-light-9: rgb(3 26 121);
$color-primary-light-10: rgb(0 13 77);

$color-primary-dark-1: rgb(0 13 77);
$color-primary-dark-2: rgb(4 27 121);
$color-primary-dark-3: rgb(14 50 166);
$color-primary-dark-4: rgb(29 77 210);
$color-primary-dark-5: rgb(48 111 255);
$color-primary-dark-6: rgb(60 126 255);
$color-primary-dark-7: rgb(104 159 255);
$color-primary-dark-8: rgb(147 190 255);
$color-primary-dark-9: rgb(190 218 255);
$color-primary-dark-10: rgb(234 244 255);

$color-primary-primary: rgb(22 93 255);

$color-link-light-1: rgb(232 243 255);
$color-link-light-2: rgb(190 218 255);
$color-link-light-3: rgb(148 191 255);
$color-link-light-4: rgb(106 161 255);
$color-link-light-5: rgb(64 128 255);
$color-link-light-6: rgb(22 93 255);
$color-link-light-7: rgb(14 66 210);
$color-link-light-8: rgb(7 44 166);
$color-link-light-9: rgb(3 26 121);
$color-link-light-10: rgb(0 13 77);

$color-link-dark-1: rgb(0 13 77);
$color-link-dark-2: rgb(4 27 121);
$color-link-dark-3: rgb(14 50 166);
$color-link-dark-4: rgb(29 77 210);
$color-link-dark-5: rgb(48 111 255);
$color-link-dark-6: rgb(60 126 255);
$color-link-dark-7: rgb(104 159 255);
$color-link-dark-8: rgb(147 190 255);
$color-link-dark-9: rgb(190 218 255);
$color-link-dark-10: rgb(234 244 255);

$color-link-primary: rgb(22 93 255);

$color-fill-light-1: rgb(247 248 250);
$color-fill-light-2: rgb(242 243 245);
$color-fill-light-3: rgb(229 230 235);
$color-fill-light-4: rgb(201 205 212);
$color-fill-light-5: rgb(169 174 184);
$color-fill-light-6: rgb(134 144 156);
$color-fill-light-7: rgb(107 119 133);
$color-fill-light-8: rgb(78 89 105);
$color-fill-light-9: rgb(39 46 59);
$color-fill-light-10: rgb(29 33 41);

$color-fill-dark-1: rgb(23 23 26);
$color-fill-dark-2: rgb(46 46 48);
$color-fill-dark-3: rgb(72 72 73);
$color-fill-dark-4: rgb(95 95 96);
$color-fill-dark-5: rgb(120 120 122);
$color-fill-dark-6: rgb(146 146 147);
$color-fill-dark-7: rgb(171 171 172);
$color-fill-dark-8: rgb(197 197 197);
$color-fill-dark-9: rgb(223 223 223);
$color-fill-dark-10: rgb(246 246 246);

$color-fill-primary: rgb(107 119 133);

$color-text-light-1: rgb(247 248 250);
$color-text-light-2: rgb(242 243 245);
$color-text-light-3: rgb(229 230 235);
$color-text-light-4: rgb(201 205 212);
$color-text-light-5: rgb(169 174 184);
$color-text-light-6: rgb(134 144 156);
$color-text-light-7: rgb(107 119 133);
$color-text-light-8: rgb(78 89 105);
$color-text-light-9: rgb(39 46 59);
$color-text-light-10: rgb(29 33 41);

$color-text-dark-1: rgb(23 23 26);
$color-text-dark-2: rgb(46 46 48);
$color-text-dark-3: rgb(72 72 73);
$color-text-dark-4: rgb(95 95 96);
$color-text-dark-5: rgb(120 120 122);
$color-text-dark-6: rgb(146 146 147);
$color-text-dark-7: rgb(171 171 172);
$color-text-dark-8: rgb(197 197 197);
$color-text-dark-9: rgb(223 223 223);
$color-text-dark-10: rgb(246 246 246);

$color-text-primary: rgb(107 119 133);

$color-warning-light-1: rgb(255 247 232);
$color-warning-light-2: rgb(255 228 186);
$color-warning-light-3: rgb(255 207 139);
$color-warning-light-4: rgb(255 182 93);
$color-warning-light-5: rgb(255 154 46);
$color-warning-light-6: rgb(255 125 0);
$color-warning-light-7: rgb(210 95 0);
$color-warning-light-8: rgb(166 69 0);
$color-warning-light-9: rgb(121 46 0);
$color-warning-light-10: rgb(77 27 0);

$color-warning-dark-1: rgb(77 27 0);
$color-warning-dark-2: rgb(121 48 4);
$color-warning-dark-3: rgb(166 75 10);
$color-warning-dark-4: rgb(210 105 19);
$color-warning-dark-5: rgb(255 141 31);
$color-warning-dark-6: rgb(255 150 38);
$color-warning-dark-7: rgb(255 179 87);
$color-warning-dark-8: rgb(255 205 135);
$color-warning-dark-9: rgb(255 227 184);
$color-warning-dark-10: rgb(255 247 232);

$color-warning-primary: rgb(255 125 0);
