# 忽略 node_modules 目录
node_modules
# 忽略 dist 目录
dist
# 忽略 public 目录
public
node_modules
.DS_Store
**/build
**/dist
**/es

# dumi
**/.dumi
**/tmp
**/docs-dist

# turbo
.turbo

# pnpm 锁文件
pnpm-lock.yaml

# yarn 锁文件
yarn.lock

node_modules/
*storybook.log
storybook-static
