.ex-switch {
    all: unset;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    display: inline-block;
    min-width: 40px;
    height: 22px;
    background-color: var(--color-fill-3);
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
    box-sizing: border-box;
    vertical-align: middle;

    // 选中状态
    &-checked {
        background-color: var(--primary-6);

        .ex-switch-handle {
            left: calc(100% - 20px);
        }

        .ex-switch-inner {
            padding-left: 8px;
            padding-right: 24px;
        }
    }

    &-disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &-loading {
        cursor: not-allowed;
        opacity: 0.7;
    }

    &-handle {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: var(--shadow-sm);
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        > svg {
            color: var(--primary-6);
        }
    }

    &-inner {
        display: block;
        margin: 0;
        color: #fff;
        font-size: 12px;
        transition: padding 0.2s ease-in-out;
        padding-left: 24px;
        padding-right: 8px;
        white-space: nowrap;
    }

    &-small {
        min-width: 28px;
        height: 16px;
        line-height: 16px;

        .ex-switch-handle {
            width: 12px;
            height: 12px;
            top: 2px;
            left: 2px;
        }

        &.ex-switch-checked {
            .ex-switch-handle {
                left: calc(100% - 14px);
            }
        }

        .ex-switch-loading-icon {
            font-size: 10px;
        }
    }
}

@keyframes exSwitchLoadingCircle {
    100% {
        transform: rotate(360deg);
    }
}
.ex-switch-loading-icon {
    animation: exSwitchLoadingCircle 1s infinite linear;
    color: rgba(0, 0, 0, 0.65);
}
